<div class="search">
     <h1 class="text-3xl font-bold">Search Users</h1>

     <form action="/users/search" method="GET" class="mt-3">
          <input type="text" name="query" class="input" placeholder="Search for a user">
          <button type="submit" class="btn btn-blue mt-3">Search</button>
     </form>

     <div class="mt-5">
          <% if (users && users.length> 0) { %>
               <ul>
                    <% users.forEach(user=> { %>
                         <li>
                              <%= user.username %>
                         </li>
                         <% }) %>
               </ul>
               <% } else { %>
                    <p>No users found</p>
                    <% } %>
     </div>
</div>